{{!-- DASHBOARD --}}

	<h1 class="fs-2 text-muted text-center mb-4">Dashboard</h1>

	<a href="/new_os"><button class="btn btn-success">Nova OS</button></a>
	{{!-- <a href="/my_list"><button>Lista de OS</button></a> --}}
	<a href="/adm/config"><button class="btn btn-secondary">Config.</button></a>
	<hr>
	<h2 class="fs-3 text-muted">MINHAS ORDENS DE SERVIÇO</h2>

	<div class="card">
		<div class="card-body bg-light bg-gradient">
			<section>
				{{#each lista}}

					<div class="os_item">
						<div class="list-group">
							<a href="/view_os/{{_id}}" class="list-group-item list-group-item-action my-2">
								<h3 class="card-title">O.S número: {{number_order}}</h3>
								<p class="card-subtitle mb-3 text-muted">Equipamento: <span class="fst-italic">{{equip_name}}</span>, data: <span class="fst-italic">{{abertura_data}} {{abertura_data_hora}}</span></p>
								<div class="row my-2">
									<form action="/modificar" class="col-sm-3 col-lg-2" method="POST">
										<input type="hidden" name="id_os" id="id_os" value="{{_id}}">
										<input type="submit" name="modificar" id="modificar" class="form-control btn btn-secondary" value="Modificar">
									</form>
									<form action="/delete" class="col-sm-3 col-lg-2" method="POST">
										<input type="hidden" name="id_os" id="id_os" value="{{_id}}">
										<input type="submit" name="delete" id="delete" class="form-control btn btn-danger" value="Deletar">
									</form>
								</div>
							</a>
						</div>
					</div>

				{{/each}}
			</section>
		</div>
	</div>
