{{!-- ESTILO CSS --}}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<style type="text/css">
	h2 {
		opacity: 0.6;
		font-size: 1.3rem;
	}
</style>


{{!-- MODELO HTML --}}
{{#data}}
	<div class="container-fluid">
		<h2 class="text-center my-4">ORDEM DE SERVIÇO</h2>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<h3 class="text-center text-success fs-1">RAISE</h3>
						<p class="text-center text-muted">SISTEMAS</p>
					</div>
					<div class="col-6">
						<div class=""><strong>Número da O.S:</strong> {{number_order}}</div>
						<div class=""><strong>Data de abertura:</strong> <span class="format_date">{{abertura_data}}</span> {{abertura_data_hora}}</div>
					</div>
				</div>
				
			</div>
		</div>

		<h2 class="mt-4">INFORMAÇÕES DO PRODUTO</h2>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<div class=""><strong>Equipamento:</strong> {{equip_name}}</div>
						<div class=""><strong>Marca:</strong> {{equip_marca}}</div>
						<div class=""><strong>Modelo:</strong> {{equip_modelo}}</div>
						<div class=""><strong>S.N:</strong> {{equip_number}}</div>
					</div>
					<div class="col-6">
						<div class=""><strong>Situação:</strong> <span id="situacao">{{equip_situa}}</span></div>
						<div class="row py-1 equip-proprio">
							<div class=""><strong>Valor de compra:</strong> R${{equip_prop_valor_aquis}}</div>
							<div class=""><strong>Valor de venda:</strong> R${{equip_prop_valor_venda}}</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		{{!-- CLIENTE --}}
		
			<h2 class="mt-4 equip-cliente">CLIENTE</h2>
			<div class="card equip-cliente">
				<div class="card-body">
					<div class="row py-1">
						<div class=""><strong>Cliente:</strong> {{nome_cliente}}</div>
						<div class=""><strong>Tel.:</strong> {{tel_cliente}}</div>
						<div class=""><strong>Email:</strong> {{email_cliente}}</div>
					</div>
					<div class="row py-1">
						<div class="col-12"><strong>Endereço:</strong> {{end_cliente}}</div>
					</div>

				</div>
			</div>
		

		<h2 class="mt-4">RELATO/OCORRENCIA</h2>
		<div class="card">
			<div class="card-body">
				<div class="row py-2">
					<div class="col-6"><strong>Requisitante:</strong> {{ocor_requis}}</div>
					<div class="col-6"><strong>Data:</strong> <span class="format_date">{{ocor_data}}</span> {{ocor_time}}</div>
				</div>
				<div class="row py-2">
					<div class="col-12"><strong>Descrição:</strong> {{ocor_descript}}</div>
				</div>
			</div>
		</div>		

		<h2 class="mt-4">SERVIÇO/MÃO DE OBRA</h2>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-6">
						<div class=""><strong>Técnico:</strong> {{serv_tec}}</div>
						<div class=""><strong>Tipo:</strong> {{serv_tipo}}</div>
						<div class=""><strong>Complexidade:</strong> {{serv_complex}}</div>
					</div>
					<div class="col-6">
						<div class=""><strong>Início:</strong> <span class="format_date">{{serv_tempo_init}}</span> {{serv_tempo_init_time}}</div>
						<div class=""><strong>Fim:</strong> <span class="format_date">{{serv_tempo_fim}}</span> {{serv_tempo_fim_time}}</div>
						<div class=""><strong>Qtd. horas:</strong> {{serv_tempo_horas}}</div>
					</div>
				</div>
				<div class="row py-4">					
					<div class="col-12"><strong>Descrição:</strong> {{serv_descript}}</div>	
				</div>
				<div class="row">
					<div class="col-3"><strong>Val. hora:</strong> R${{serv_valor_p_hora}}</div>
					<div class="col-3"><strong>Val. serviço:</strong> R${{serv_valor_total}}</div>
					<div class="col-3"><strong>Garantia:</strong> {{serv_garantia}}</div>
					<div class="col-3"><strong>Destino:</strong> {{serv_destino}}</div>
				</div>

			</div>
		</div>

		
		<div class="row my-4">
			<form class="col-2" action="/download" method="POST">
				<input type="hidden" name="id_os" id="id_os" value="{{_id}}">
				<input type="submit" name="download" id="download" class="form-control btn btn-success" value="download">
			</form>
			<form class="col-2" action="/modificar" method="POST">
				<input type="hidden" name="id_os" id="id_os" value="{{_id}}">
				<input type="submit" name="update" id="update" class="form-control btn btn-primary" value="update">
			</form>
			<form class="col-2" action="/delete" method="POST">
				<input type="hidden" name="id_os" id="id_os" value="{{_id}}">
				<input type="submit" name="delete" id="delete" class="form-control btn btn-danger" value="delete">
			</form>
		</div>

	</div>


{{/data}}

<script type="text/javascript">
	// FORMAT DATE
		window.addEventListener('load', (e) => {

			// FORMATENDO O TIPO DE DATAS
				datas = document.querySelectorAll('.format_date');
				var i = 0;

				datas.forEach(function(){
					var brut_data = datas[i].innerHTML.split("-");
					datas[i].innerHTML = `${brut_data[2]}\/${brut_data[1]}\/${brut_data[0]}`;
					i++
				});

			// CLIENTE/PRÓPRIO
				const situacao = document.querySelector('#situacao')
				const equip_proprio = document.querySelectorAll('.equip-proprio')
				const equip_cliente = document.querySelectorAll('.equip-cliente')
				var i = 0, j = 0;

				if(situacao.innerHTML == "Próprio"){
					equip_proprio.forEach(function(){
						equip_proprio[i].style.display = "flex";
						i++
					})
					equip_cliente.forEach(function(){
						equip_cliente[j].style.display = "none";
						j++
					})
						
				}else if(situacao.innerHTML == "Cliente"){
					equip_proprio.forEach(function(){
						equip_proprio[i].style.display = "none";
						i++
					})
					equip_cliente.forEach(function(){
						equip_cliente[j].style.display = "flex";
						j++
					})
				}

		});
		
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>